// Tipografía
$Principal_font : "Montserrat", sans-serif;

// colores
$Celestial : #4CB8B3; 
$Pink : #F53756;
$Yellow: #FEF46F;
$Morado: #752F97;
$Black : #000000;
$White: #FFFFFF;
$Green: #038554;
$Gray: #E1E1E1;

